[submodule "newbird"]
    path = newbird
    url = git://github.com/gjreda/newbird-pelican-theme.git
[submodule "pelican-plugins"]
    path = pelican-plugins
    url = git://github.com/gjreda/pelican-plugins.git
[submodule "pelican_dynamic"]
    path = pelican_dynamic
    url = git://github.com/gjreda/pelican_dynamic.git
