backports.ssl-match-hostname==3.4.0.2
certifi==14.5.14
gnureadline==6.3.3
ipython==2.3.0
Jinja2==2.7.3
MarkupSafe==0.23
mercurial==3.2.4
pbr==0.10.0
pyzmq==14.4.1
requests==2.5.1
six==1.8.0
stevedore==1.1.0
tornado==4.0.2
vboxapi==1.0
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
