Jinja2==2.8
Markdown==2.5.2
MarkupSafe==0.23
Pygments==2.0.2
Unidecode==0.04.18
backports.ssl-match-hostname==3.4.0.2
blinker==1.4
certifi==14.05.14
cssmin==0.2.0
docutils==0.12
feedgenerator==1.7
gnureadline==6.3.3
ipython==1.2.1
pelican==3.6.3
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.4.1
six==1.9.0
tornado==4.0.2
webassets==0.10.1
wsgiref==0.1.2
