<!DOCTYPE html>
<html lang="en">
<head>

  {% block header %}{% endblock %}

	<!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{% block title %}{% endblock %}</title>

  <meta name="description" content="{% block metadesc %}{% endblock %}">
  <meta name="author" content="{{ AUTHOR }}">
  <meta name="copyright" content="&copy; Copyright {{ SITENAME }}, {{ COPYRIGHT_START_YEAR }} to Present">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Fonts
  ================================================== -->
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro|Lato|Source+Code+Pro|Inconsolata' rel='stylesheet' type='text/css'>

  <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/theme/style.css">

  {% if FEED_ALL_ATOM %}
  <!-- Feeds
  ================================================== -->
  <link rel="alternate" type="application/atom+xml" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }} Full Atom Feed">
  {% endif %}

  {% if TWITTER_CARDS %}
  {% block twittercards %}{% endblock %}
  {% endif %}

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ FAVICON_IMAGE }}">
	<link rel="apple-touch-icon" href="/theme/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-touch-icon-114x114.png">

</head>
<body>
	<!-- Primary Page Layout
	================================================== -->
    {% include 'navbar.html' %}
    <main>
        {% block content %}{% endblock %}
    </main>
    {% include 'footer.html' %}
    </section>

	{% include "analytics.html" %}
</body> <!-- End body -->
</html>
