{% extends 'base.html' %}
{% block title %}Home | {{ SITENAME }}{% endblock %}
{% block metadesc %}{% endblock %}

{% block header %}
{% endblock %}
{% block content %}
<img class="headshot" src="/images/headshot.jpg" alt="{{ SITENAME }}">

<h1>{{ INDEX_PAGE_HEADER }}</h1>
  <div class="postcontent">
    {% for page in pages %}
        {% if page.title == 'About' %}
            {{ page.summary }}
        {% endif %}
    {% endfor %}

    <hr class="small">

<center>
    <h2>Recent Things</h2>
    {% for article in articles[:5] %}
      <h3><a href={{ article.url }}>{{ article.title }}</a></h3>
        <h5 class="meta">{{ article.date.strftime('%B %Y') }}</h5>
    {% endfor %}
  </div>
</center>

{% endblock %}
