{% extends 'base.html' %}
{% block title %}{{ SITENAME }} | {{ page.title }}{% endblock %}
{% block metadesc %}{{ page.description|e }}{% endblock %}

{% block header %}
{% endblock %}

{% block twittercards %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ TWITTER_NAME }}">
  <meta name="twitter:creator" content="@{{ TWITTER_NAME }}">
  <meta name="twitter:domain" content="{{ DOMAIN }}">
  <meta name="twitter:image" content="{{ SITEURL }}{{ LOGO_IMAGE }}">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description|e }}">
{% endblock %}

{% block content %}

{{ page.content }}

{% endblock %}